In [1]:
import pandas as pd
import numpy as np
import scipy as sc
from scipy import linalg
# 過去の自転車盗難情報
trans_data = pd.read_csv("./CSV/output/transform_bohan_data.csv")
# 先頭5行を表示
trans_data.head()

   Unnamed: 0  occurTime  age  occupation  isRock  occurMonth
0           0         13   10           1       1           7
1           1          6   10           2       1           9
2           2         12   10           2       1          10
3           3         13   10           2       1          12
4           4          7   10           2       1           6

In [2]:
# 不要な列 Unnamed: 0の削除
trans_data = trans_data.drop(columns='Unnamed: 0')

In [3]:
# 任意の自転車利用情報を生成
userInfo = pd.Series([15, 30, 5, 1, 1], index=trans_data.columns)
# trans_dataの末尾に追加
trans_data = trans_data.append( userInfo, ignore_index=True )

In [4]:
# 定数の準備(trans_dataの行/列の数)
ROW = 1482
COLUMN = 5
# column:列の初期化
column = []
# ave:平均ベクトルの初期化
ave = [0.0 for i in range(COLUMN)]

In [5]:
# columnにtrans_dataの列要素(5件分)を代入
for i in range(COLUMN):
    column.append(list(trans_data.iloc[:, i]))
# 平均ベクトルの計算(各列の平均値を算出) 
for i in range(COLUMN):
    ave[i] = np.average(column[i])
print(ave)

[12.950742240215924, 19.87854251012146, 2.8157894736842106, 0.27800269905533065, 6.922402159244265]

In [6]:
# diff: userInfoとaveの差分を格納する
diff = userInfo - ave
diff = np.array([diff])
# diffの転地行列
diff_T = np.swapaxes(diff, 0, 1)
# vcm:分散共分散行列の計算
vcm = (diff * diff_T) / ROW

In [7]:
#  マハラノビス距離の算出
mahal = np.zeros(ROW)
tmp = np.zeros(COLUMN)
# 算出のときはvcmの逆行列をもとめる
vcm_r = sc.linalg.pinv(vcm)
vcm_r = vcm_r.transpose()
vcm_r = np.identity(COLUMN)

In [8]:
temp = np.dot(diff,vcm_r)
mahal = np.dot(temp[0],diff_T)
mahal = np.sqrt(mahal[0])
print(mahal)

12.12477884941061